@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&family=Ubuntu:wght@300&display=swap');
.card-title-text{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.font{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Prompt', sans-serif;
}


.WhatisComp{
    margin-left: 50px;
    margin-right: 50px;
}

.ov-desc{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}
